<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tagger</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #log {
            max-height: 400px;
            overflow: auto;
        }
        select {
            text-indent: 0.25em;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container m-3 mx-auto">
            <select id="type" class="form-control mb-3" v-model="type">
                <option value="pos">词性标注</option>
                <option value="dp">依存句法</option>
                <option value="sdp">语义依存</option>
            </select>
            <div class="input-group mb-3">
                <input v-model="id" id="input" type="text" class="form-control" placeholder="输入文本" aria-label="输入文本" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="search" v-on:click="search()">Search</button>
                </div>
            </div>
        </div>
        <div class="container m-3 mx-auto form-group">
            <textarea class="form-control" id="value" rows="3" placeholder="输入赋值" v-model="value"></textarea>
        </div>
        <div class="container m-3 mx-auto clearfix">
            <button type="button" id="commit" class="btn btn-primary float-right" v-on:click="commit()">Commit</button>
        </div>
        <div class="container m-3 mx-auto">
            <div class="card">
                <div id="log" class="container card-body">
                    /* logging */
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="//127.0.0.1:3000/tagger.js"></script> -->
    <script>
        const apiUrl = '//127.0.0.1:3000';
        const app = new Vue({
            el: '#app',
            data: {
                type: 'pos',
                id: '',
                value: '{}'
            },
            computed: {
                _rev() {
                    return JSON.parse(this.value)._rev
                }
            },
            watch: {
                type: function (v) {
                    fetch(`${apiUrl}/${v}.json`, {
                        mode: 'cors',
                        credentials: 'include'
                    })
                        .then(res => res.json())
                        .then(data => log(JSON.stringify(data, null, 4), 1))
                        .catch(err => {
                            log(`get failed: ${err}`);
                        });
                }
            },
            methods: {
                search: async function () {
                    const doc = await fetch(`${apiUrl}/get?type=${this.type}&_id=${this.id}`)
                        .then(res => res.json())
                        .catch(err => {
                            log(`get failed: ${err}`);
                            return {};
                        });
                    this.value = JSON.stringify(doc, null, 4);
                },
                commit: async function () {
                    const doc = await fetch(`${apiUrl}/put`, fetchPostWrap({
                        ...JSON.parse(this.value),
                        _rev: this._rev
                    }))
                        .then(res => res.json())
                        .then(_ => log('put successfully'))
                        .catch(err => log(`put failed: ${err}`));
                }
            }
        });
        const log = (info, option) => {
            const $log = document.querySelector('#log');
            const div = document.createElement('div');
            if (option === 1) {
                div.innerHTML = `<pre>${info}</pre>`;
            } else {
                div.innerHTML = info;
            }
            $log.appendChild(div);
            setTimeout(() => {
                $log.scrollTop = $log.scrollHeight - $log.clientHeight;
            });
        };
        const fetchPostWrap = (data, options = {}) => ({
            method: 'post',
            mode: 'cors',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
            ...options
        });
    </script>
</body>
</html>